.photo {
  width: 800px;
  max-height: 600px;
  overflow: hidden;
  display: inline-block;
  background-color: #fff;
}

.image {
  float: left;
  height: 600px;
  width: 600px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}

.sidebar {
  float: right;
  background: #fff;
  width: 200px;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: Monaco;
  font-size: 11px;
}

.sidebarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
