.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  h1 {
    text-align: center;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;

  @media (min-width: 768px) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.imageWrapper {
  margin: 1rem;
}
